body {
  /* height: 100vh; */
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

canvas {
  z-index: -1;
  image-rendering: pixelated crisp-edges;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
}

#container {
  height: 80vh;
  overflow: hidden;
}