body {
  /* height: 100vh; */
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
}

canvas {
  z-index: -1;
  image-rendering: pixelated;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
}

#container {
  height: 80vh;
  overflow: hidden;
}

#controlContainer {
  display: flex;
}

.panels {
  border: solid rgba(0, 0, 0, 0.158) 2px;
  width: fit-content;
  height: 100%;
  padding: .5em;
  /* color: rgba(202, 202, 202, 0.726) */
}